.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*FIRST SECTION */

.wrapper-header {
  background-color: #4b0082;
  background-image: url(assets/Frame\ 129.jpg);
}
.header {
  display: flex;
}
.header-text {
  color: #ffffff;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
.welcome-title {
  color: #ffffff;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}
.welcome-span {
  color: #fce558;
}
.welcome-line {
  width: 83.15px;
  height: 0px;
  border: 2px solid #fad264;
  color: #fad264;
}
.welcome-offer {
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.welcome-offer__span {
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.offer {
  display: flex;
}
.offer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer-img {
  background-color: #fad264;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  text-align: center;
}
.offer-text {
  background-color: #ffffff;
  border-radius: 30px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.offer-img__img {
  color: #42196d;
}
.date {
  display: flex;
}
.date-img {
  width: 26.84px;
  height: 30px;
}
.date-text {
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.date-text__span {
  color: #fce559;
}
.buttons {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
}
.buttons-button {
  background-color: #ffffff;
  border-radius: 30px;
}
.buttons-button:hover {
  background-color: #fad264;
}
.agree {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.test {
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.main-title {
  color: #320b61;
  font-family: Gilroy;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}
.program-header {
  display: flex;
}
.program-day {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #42196d;
  background-color: #fad264;
}
.program-title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #320b61;
}
.program-main {
  display: flex;
}
.program-firstList {
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  list-style-type: none;
  list-style-image: url(assets/Group\ 1633.png);
}
.program-list__text {
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}
.program-secondList {
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.reasons {
  background-color: #42196d;
}
.reasons-title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #fad264;
}
.reasons-line {
  width: 70px;
  height: 2px;
  color: #ffffff;
}
.reasons-block {
  display: flex;
}
.reason-img {
  background-color: #ffffff;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #292841;
}
.reason-content__text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.reason-content__list {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  list-style-type: none;
  list-style-image: url(assets/Group\ 2056.png);
}
.result-title {
  display: flex;
}
.result-title__title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #320b61;
}
.result-title__line {
  color: #e130e3;
  width: 70px;
  height: 0px;
  border: 2px solid #e130e3;
}
