.wrapper-header {
  background-color: rgb(50, 11, 97, 0.1);
  background-image: url(../assets/Group\ 2087.jpg);
  padding: 5% 0 5% 0;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.header-text {
  color: #ffffff;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
@media (max-width: 575px) {
  .header-text {
    font-size: 14px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .header-text {
    font-size: 14px;
  }
}
