.offer {
  margin: 5% 0 0 0;
}
.offer-block__relativ {
  position: relative;
  margin: 0 0 10% 0;
}
.offer-img {
  background-color: #fad264;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  text-align: center;
  position: absolute;
  top: -20%;
  left: 43%;
  padding: 7px 0 0 0;
}
.offer-text {
  background-color: #ffffff;
  border-radius: 30px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  padding: 30px 10px 20px 10px;
}
.offer-img__img {
  color: #42196d;
}
.date {
  margin: 0 0 3% 0;
}
.date-img {
  height: 30px;
}
.date-image {
  padding: 0 0 0 0;
  text-align: right;
}
.date-text {
  font-family: Gilroy;
  font-size: 20px;
  font-style: bold;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  padding: 0;
}
.date-text__white {
  color: #ffffff;
}
.date-text__yellow {
  color: #fce559;
  text-align: left;
}
.date-text__left {
  text-align: right;
  padding: 0;
}

/* xs (<=543px) */
@media (max-width: 575px) {
  .date-text__yellow {
    font-size: 15px;
    line-height: 10px;
  }
  .date-text__white {
    font-size: 15px;
    line-height: 10px;
  }
  .date-text__left {
    text-align: left;
  }

  .container {
    max-width: 319px;
    margin: 0 auto;
  }
  .buttons-button__left {
    margin: 0 0 1% 0;
    padding: 1% 1% 1% 1%;
  }
  .buttons-button__right {
    margin: 1% 0 0 0;
    padding: 0;
  }
}

/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) {
  .date-text__yellow {
    font-size: 18px;
    line-height: 22px;
  }
  .date-text__white {
    font-size: 18px;
    line-height: 22px;
  }
  .date-text__left {
    text-align: left;
  }
  .date-img {
    width: 32px;
    height: 35px;
  }
  .buttons-button__left {
    margin: 0 0 1% 0;
    padding: 0;
  }
  .buttons-button__right {
    margin: 1% 0 0 0;
    padding: 0;
  }
}

/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {
  .date-text__yellow {
    font-size: 18px;
    line-height: 22px;
  }
  .date-text__white {
    font-size: 18px;
    line-height: 22px;
  }
}
.buttons {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
}
.buttons-button {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 1% 0.1% 1% 0.1%;
}
.buttons-button__left {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 1% 0.1% 1% 0.1%;
  margin: 0 1% 1% 0;
}
.buttons-button__right {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 1% 0.1% 1% 0.1%;
  margin: 0 0 1% 1%;
}
.buttons-button__left:hover {
  background-color: #fad264;
}
.buttons-button__right:hover {
  background-color: #fad264;
}
.agree {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin: 10px 0 10px 0;
}
.test {
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.test-text {
  text-align: left;
}
