.reasons {
  background-color: #42196d;
}
.reasons-title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #fad264;
  padding: 5% 0 0 0;
}
.reasons-line {
  width: 70px;
  border: 2px solid #ffffff;
  color: #ffffff;
  margin: 3% 0 3% 45%;
}

.reason-img {
  background-color: #ffffff;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #292841;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  position: relative;
}
.reason-img__img {
  width: 100%;
}
.reason-img__b-text {
  padding: 5% 1% 0 1%;
}
.reason-img__t-text {
  padding: 5% 0 10% 0;
}
.reason-img__triangle {
  position: absolute;
  left: 45%;
  top: 97%;
}
.reason-content {
  padding: 5% 0 15% 0;
}
.reason-content__text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.reason-content__list {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  list-style-type: none;
}
.reason-content__list-item {
  background: url(../assets/Group\ 2056.png) no-repeat left center;
  padding: 1% 0 1% 10%;
}
