@import "header.css";
@import "welcome.css";
@import "offer.css";
@import "program.css";
@import "reasons.css";
@import "normalize.css";
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;

  src: local("Gilroy"), url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: local("Gilroy"), url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato"), url("../fonts/Lato-Black.ttf") format("ttf");
}
.result-title {
  display: flex;
}
.result-title__title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #320b61;
}
.result-title__line {
  color: #e130e3;
  width: 70px;
  height: 0px;
  border: 2px solid #e130e3;
}
